/* Demo3 pizza order custom css */
.bgImage {
    background: url('../images/pizza-demo-bg.jpg') no-repeat right bottom;
    background-size: cover;
    width: 100%;
}
header, footer {
	 background-color: #dd8256 !important;
	 color: #ffe3bd !important;
}
footer {
	border-top: solid 2px #ffe3bd;
}
header img {
	padding: 1em 25% 0;
}
h1 {
  color: #B8860B;
}
header h1 {
	font-family: Harrington, sans-serif;
    font-size: 48px;
    color: #000; /*#ffe3bd; */
    letter-spacing: 0.2em;
}
.galWrapper {
	margin-top: 60px;
    background-color: rgba(255,255,255,.75);
}
#formWrapper {
    margin-top: 70px;
    background-color: rgba(255,255,255,.85);
}
form span {
    color: red;
    float: right;
    font-style:italic;
}
.results {
	color: #777;
    padding: 1em;
    font-style: italic;
	outline: none;
}

/*.card-rounded img {
	border-radius: 50% !important;
}*/
.mt {
    margin-top: 0.5em;
}
.ml {
    margin-left: 0.5em;
}
.mr {
    margin-right: 0.5em;
}
.mb {

    margin-bottom: 0.5em;
}
#home .btn {
	min-width: 80%;
	margin: 2% 10%;
	background-color: #cc3333;
}
footer {
    margin-top: 0;
	/*background-color: #B8860B !important;*/
}
footer .btn {
	min-width: 160px !important;
}
footer ul .btn {
	background-color: #ffe3bd !important;
	color: #000;
	padding:0.2em 0 !important;
	font-size: 0.9em !important;

}
.active {
  background-color: /*#dd8256;*/ #B8860B; /* #d2c82a; /* orange; */
  border: none;
  /*border: solid 2px #ffe3bd;*/
}
.social i {
	 background-color: white;
     border-radius: 50%;
     border: 1x solid green;
     padding: 6px;
	 color: green;
}
/*.navbar-container, ul.main-nav {
	background-color: #cc3333;
}*/
@media screen and (min-width: 570px) {
	#contact section {
		min-height: 750px;
	}
	#contact footer {
		position: fixed;
		width: 100%;
		bottom: 0;
		left: 0;
	}
}
@media screen and (min-width: 750px) {
    header img {
        padding: 5px;
	}
	.pizzaFooter {
			grid-template-columns: 2fr 2fr 3fr 2fr 3fr;
	}
}

@media screen and (min-width: 960px) {
    #menu {
        width: 100%;
}
