/*body {
	margin: .1px;
	position: relative;
}*/
.bgImage {
    background: url('../images/pizza-demo-bg.jpg') no-repeat right bottom;
    background-size: cover;
    width: 100%;
}
header, footer, footer label {
	 background-color: #dd8256 !important;
	 color: #ffe3bd !important;
}
footer {
	border-top: solid 2px #ffe3bd;
}

header img {
	padding: 5%;
}
h1 {
  color: #B8860B;
}
h2 {
	color: #B8860B; /* #cc3333; */
}
header h1 {
	font-family: Harrington, sans-serif;
    font-size: 1.5em; /*48px;*/
    color: #000; /*#ffe3bd; */
    letter-spacing: 0.2em;
}
.galWrapper {
	margin-top: 60px;
    background-color: rgba(255,255,255,.75);
}
#formWrapper {
    margin-top: 70px;
    background-color: rgba(255,255,255,.85);
}
form span {
    color: red;
    float: right;
    font-style:italic;
}
.results {
	color: #777;
    padding: 1em;
    font-style: italic;
	outline: none;
}
div#menu {
	background-color: black !important;
}

/*.card-rounded img {
	border-radius: 50% !important;
}*/
.mt {
    margin-top: 0.5em;
}
.ml {
    margin-left: 0.5em;
}
.mr {
    margin-right: 0.5em;
}
.mb {

    margin-bottom: 0.5em;
}
#home .btn, #order .btn, #specials .btn,
#menuPage .btn {
	min-width: 80%;
	margin: 2%;
	background-color: #cc3333;
}

#home1 h3 {
	color: #B8860B;
}
#home h4 {
	font-family: Arial, sans-serif;
	text-align: center;
	background-color: #cc3333;
	padding: 15px;


}
#home3 img, #home4 > article {
	border: 5px solid #d2c82a;
	/*margin: 10px;*/
}
#home3 h4 {
	margin-bottom: 0;
}
#home4 > article {
	margin: 10px;
	position: relative;
}
#home4 .btn, #home4 article a {
	min-width: 120px;
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 15px;
	padding: 5px;
}
footer {
    margin-top: 0;
	/*background-color: #B8860B !important;*/
}
footer .btn {
	min-width: 160px !important;
	margin: 2% 10%;
}
footer ul .btn {
	background-color: #ffe3bd !important;
	color: #000;
	padding:0.2em 0 !important;
	font-size: 0.9em !important;

}
.active {
  background-color: /*#dd8256;*/ #B8860B; /* #d2c82a; /* orange; */
  border: none;
  /*border: solid 2px #ffe3bd;*/
}
.social i {
	 background-color: rgba(255,255,255,.85);
	 /*background-color: white;*/
     border-radius: 25%;
     border: 1x solid green;
     padding: 4px;
	 color: green;
}
.social i:hover {
	color:#d2c82a;
	background-color: #B8860B;
}
.social i:active {
	color:#B8860B;
	background-color: #d2c82a;
}
/*.navbar-container, ul.main-nav {
	background-color: #cc3333;
}*/
/* menu and order pages */
.tab-container{
	margin: 0 auto;
    padding: 1em;
   /* border-radius: 15px;*/
}
.tab-content {
	background: none;
	background-color: rgba(255,255,255,.85);
	border: solid 2px #d3e203;
	border-radius: 10px;
}
.tab-content h3 {
	margin-bottom: 10px;
}
ul.tabs li {
	color: #000 !important;
	background-color: #ffe3bd !important;
	border: solid 1px  #B8860B;
}
ul.tabs li.current {
	color: #fff !important;
	background-color: #B8860B !important;

}
.price {
	color: #cc3333;
	margin: 10px;
}
.card-rounded {
	    background-color: #B8860B !important;
}
.card-rounded .btn {
	background-color: #cc3333;
	color: #fff;
	font-weight: bold;
}
.costResult {
	background-color: aqua;
}
.callMsg {
	color: #cc3333;
	font-weight:bold;
	font-size: 1em;
	background-color: rgba(255,255,255,.85);
	padding: 0.3em;
}
/* back to top button */
#bttBtn {
	display: none;
}
#bttBtn img {
	width: 10%;
	height: auto;
	position: fixed;
	bottom: 5px;
	right: 15px;
}
.noMin {
	display: none;
}
header.asideLeft {
	grid-template-columns: 1fr 3fr !important;
}
header.menu2 {
	grid-template-columns: repeat(3, 32%) !important;
	padding: 5px;
	margin-top: 5px !important;
}
header.menu2 > article:last-child {
	text-align: right;
}
.aboveMenu2 {
	height: 10px;
}
/* search area on a header */
.search {
  width: 100%;
/*  position: relative;*/
  display: flex;
}
/*.search i.fas {
	padding: 0px;
}*/
.searchLoc {
  width: 75%;
  border: 2px solid #ffe3bd;
  border-right: none;
  outline: none;
  color: #000 !important;
  padding: 2.4px !important;
  border-radius: 4px 0 0 4px !important;
  font-size: .8em !important;
}

.searchTerm {
  width: 85%;
  border: 2px solid #ffe3bd;
  border-right: none;
  padding: 10px !important;
  border-radius: 4px 0 0 4px;
  outline: none;
  color: #000 !important;
  height: 1em;
  text-align: left;

}

.searchTerm:focus{
  color: #ffe3bd;
}

.searchButton {
  width: 15%;
  height: 15%;
  border: 2px solid #ffe3bd;
  background: #ffe3bd;
  text-align: center;
  color: #000;
  border-radius: 0 4px 4px 0;
  padding: 2px;
  cursor: pointer !important;
  /*font-size: 20px;*/
}
#resultLoc {
	color: #fff;
}
.promoCode {
     display: block;
    }
.promoCode li {
	 display: inline-block;
     margin-right: 10px;
}
.orderTotal {
	border: 5px solid #d2c82a;
	border-radius: 8px;
	margin: 10px;

}
.checkout {
	border-top: 5px solid #d2c82a;
	border-bottom: 3px solid #d2c82a;
	background-color: rgba(255,255,255,.75);
	padding: 0 15px 8px;
	margin-bottom: 15px;
}
*#viewcart .btn {
	/*min-width: 80%;*/
	/*margin: 2%;*/
	padding: 5px;
}
.checkoutBtn {
	min-width: 80%;
	margin: 2% 10%;
	/* padding: 5px;*/
	background-color: #cc3333;
}

.gallery .formBtn {
	width: 80%;
	margin: auto;
}
.gallery label {
	margin-top: 5px;
}

input[type="number"] {
	width: 40px;
	padding: 3px;
	margin-top: 5px;
}
#popUp {
  display: none;
  color: red;
  text-align: center;
  /*position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;*/
  margin-top: 10px;
}

#popUp ul li{
	display: inline-block;
}

.btnCall {
    text-decoration: none;
    text-align: center;
    padding: 8px 16px;
    border-radius: 4px;
	background-color: #cc3333;
	margin-left: 20px;
}
@media screen and (min-width: 570px) {
	header h1 {
		font-size: 2em;
    }
	#bttBtn img {
		width: 5%;
    }

}
@media screen and (min-width: 750px) {
    header img {
        padding: 5px;
	}
	header h1 {
	  font-size: 48px;
      letter-spacing: 0.2em;
    }
	header.menu2 {
		margin-top: 10px !important;
	}
	.pizzaFooter {
			grid-template-columns: 2fr 2fr 3fr 2fr 3fr;
	}
	.noMin {
		display: flex;
	}
	.navbar-container{
		background-color: #000;
		opacity: .7;
		display: flex;
		justify-content: space-between;
		min-height: 70px;
		padding-right: .5em;
		position: static;
    }

    #navbar-toggler{
        display: none;
    }
	#menu {
		background-color: #000;
		display: block;
		border-top: none;
		position: static;
		width: 100%;
	}
	li.nav-item{
		display: inline-block;
	}
	.dropdown{
		position: absolute;
		top: 76px;
		padding: 1em 0 0;
	}

}

@media screen and (min-width: 960px) {
	header.menu2 {
		padding: 8px !important;
	}

}
