ErrorDocument 404 /index.php
Options +FollowSymLinks
RewriteEngine on
RewriteRule ^pizzas$ pages/order.php?category=Pizzas [L]
RewriteRule ^sandwiches$ pages/order.php?category=Sandwiches [L]
RewriteRule ^salads$ pages/order.php?category=Salads [L]
RewriteRule ^desserts$ pages/order.php?category=Desserts [L]
RewriteRule ^beverages$ pages/order.php?category=Beverages [L]
RewriteRule ^parties$ pages/order.php?category=Parties [L]
RewriteRule ^square-cheese-pizza$ pages/products.php?prodid=1 [L]
RewriteRule ^supreme-veggie-pizza$ pages/products.php?prodid=2 [L]
RewriteRule ^spicy-bacon-pizza$ pages/products.php?prodid=3 [L]
RewriteRule ^red-pepper-pizza$ pages/products.php?prodid=4 [L]
RewriteRule ^green-olive-pizza$ pages/products.php?prodid=5 [L]
RewriteRule ^classic-pepperoni-pizza$ pages/products.php?prodid=6 [L]
RewriteRule ^mediterranean-pizza$ pages/products.php?prodid=7 [L]
RewriteRule ^ollie-veggie-pizza$ pages/products.php?prodid=8 [L]
RewriteRule ^bbq-chicken-pizza$ pages/products.php?prodid=9 [L]
RewriteRule ^supreme-breakfast-pizza$ pages/products.php?prodid=10 [L]
RewriteRule ^classic-supreme-pizza$ pages/products.php?prodid=11 [L]
RewriteRule ^half-sausage-half-pepperoni-pizza$ pages/products.php?prodid=12 [L]
RewriteRule ^hawaiian-pizza$ pages/products.php?prodid=13 [L]
RewriteRule ^grilled-eggplant-pizza$ pages/products.php?prodid=14 [L]
RewriteRule ^margherita-pizza$ pages/products.php?prodid=15 [L]
RewriteRule ^pepper-mashroom-pizza$ pages/products.php?prodid=16 [L]
RewriteRule ^mediterranean-sandwich$ pages/products.php?prodid=17 [L]
RewriteRule ^grilled-beef-sandwich$ pages/products.php?prodid=18 [L]
RewriteRule ^spinach-sandwich$ pages/products.php?prodid=19 [L]
RewriteRule ^classic-hamburger$ pages/products.php?prodid=20 [L]
RewriteRule ^bbq-chicken-sandwich$ pages/products.php?prodid=21 [L]
RewriteRule ^breakfast-croissant-sandwich$ pages/products.php?prodid=22 [L]
RewriteRule ^crispy-chicken-sandwich$ pages/products.php?prodid=23 [L]
RewriteRule ^roast-beef-sandwich$ pages/products.php?prodid=24 [L]
RewriteRule ^turkey-sandwich$ pages/products.php?prodid=25 [L]
RewriteRule ^carbonnade-beef-sandwich$ pages/products.php?prodid=26 [L]
RewriteRule ^crispy-turkey-sandwich$ pages/products.php?prodid=28 [L]
RewriteRule ^avocado-egg-sandwich$ pages/products.php?prodid=29 [L]
RewriteRule ^grilled-chicken-sandwich$ pages/products.php?prodid=30 [L]
RewriteRule ^BLT-salad$ pages/products.php?prodid=31 [L]
RewriteRule ^greek-salad$ pages/products.php?prodid=32 [L]
RewriteRule ^spinach-strawberry-salad$ pages/products.php?prodid=33 [L]
RewriteRule ^avocado-mango-salad$ pages/products.php?prodid=34 [L]
RewriteRule ^greens-figs-salad$ pages/products.php?prodid=35 [L]
RewriteRule ^spinach-fig-salad$ pages/products.php?prodid=36 [L]
RewriteRule ^chickpea-avocado-salad$ pages/products.php?prodid=37 [L]
RewriteRule ^roasted-artichoke-salad$ pages/products.php?prodid=38 [L]
RewriteRule ^summer-delight-salad$ pages/products.php?prodid=39 [L]
RewriteRule ^chocolate-layer-cake$ pages/products.php?prodid=40 [L]
RewriteRule ^fresh-cherry-cake$ pages/products.php?prodid=41 [L]
RewriteRule ^chocolate-caramel-cake$ pages/products.php?prodid=42 [L]
RewriteRule ^orange-slice-pie$ pages/products.php?prodid=43 [L]
RewriteRule ^triple-chocolate-muffin$ pages/products.php?prodid=44 [L]
RewriteRule ^black-forest-cake$ pages/products.php?prodid=45 [L]